<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="person" class="com.jiangwei.springtest.bean.Person">
        <property name="age" value="80"/>
        <property name="son">
            <bean id="son" class="com.jiangwei.springtest.bean.Son">
                <property name="age" value="20"/>
            </bean>
        </property>
    </bean>

    <bean id="son2" class="com.jiangwei.springtest.bean.Son">
        <property name="age">
            <bean id="propertyPath1" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
                <property name="targetBeanName" value="person"></property>
                <property name="propertyPath" value="son.age"></property>
            </bean>
        </property>
    </bean>
</beans>