<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byName">


    <context:component-scan base-package="com.jiangwei.springtest.*"></context:component-scan>

    <bean id="person" class="com.jiangwei.springtest.bean.Person">
        <property name="age" value="80"/>
        <property name="son">
            <bean id="son" class="com.jiangwei.springtest.bean.Son">
                <property name="age" value="20"/>
            </bean>
        </property>
    </bean>

    <bean id="son2" class="com.jiangwei.springtest.bean.Son">
        <property name="age">
            <bean id="propertyPath1" class="org.springframework.beans.factory.config.PropertyPathFactoryBean">
                <property name="targetBeanName" value="person"></property>
                <property name="propertyPath" value="son.age"></property>
            </bean>
        </property>
    </bean>


    <bean id="cat" class="com.jiangwei.springtest.bean.Cat">
        <property name="age" value="2"/>
        <property name="name" value="helloKettiy"/>
    </bean>

    <bean id="animals" class="com.jiangwei.springtest.bean.Animals"></bean>

</beans>